body {
    display: flex;
    flex-flow: row wrap;
    font-size: xx-large;
    font-weight: bold;
    font-family: Caveat, Tahoma, Geneva, Verdana, sans-serif;
    background-color: #63dae0
}

header,
nav,
footer {
    flex: 1 100%;
    padding: 20px 50px;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(#051118, #5C373C);
    color: #CAA893;
    border: thin #CAA893 inset;
    margin: 20px 30px;
    padding: 10px 20px;
}

aside {
    flex: 1 auto;
    background-color: #5AADB0;
    padding: 50px 20px;
    color: #CDB09E;
    margin: 5px;
}

.title {
    background-color: #A6BE9E;
    font-weight: bold;
}

.brand {
    background-color: #082833;
    color: #C24726;
    font-weight: bold;
    font-size: x-large;
}

.article {
    background-color: #357074 color: #FFF3BC;
    font-size: x-small;
}

section {
    flex: 4 auto;
    background-color: #5AADB0;
    padding: 5px 10px;
    margin: 20px;
}

article {
    background-color: #5B8182;
    padding: 50px;
    margin: 5px 0px;
    color: #5C373C;
    font-weight: bold;
}

header {
    background-color: #525454;
    color: #3FCFD4;
}

nav {
    background-color: #3FCFD4;
    color: #525454;
    display: flex;
}

nav>aside {
    flex: 1;
}

@media (max-width: 500px) {
    nav {
        display: block;
    }
}

@media print {
    nav {
        display: block;
    }
    body {
        background-color: white;
        font-family:
    }
    aside {
        background-color: white;
        color: black;
        padding: 10px;
        margin: 5px;
    }
}

footer {
    background-color: #525454;
    color: #3FCFD4;
}

p {
    font-style: italic;
}

article p {
    font-size: x-large;
}

article>p {
    color: red;
}

article>section>p {
    color: blue;
}

article>section>p:last-child {
    font-weight: bold;
}

article.spacer {
    padding: 15px;
    margin: 25px;
    border: thin lightgray solid;
}

.babyBlueBackground {
    background-color: #57BCF4;
}

.grayBackground {
    background-color: #BFB3B5;
}

.blackBackground {
    background-color: #242730;
}

.babyBlueText {
    color: #57BCF4;
}

section.purpleText {
    color: #923C9B;
}

article.purpleText {
    color: #461559;
}

article.simpleBorder {
    border-width: thick;
    border-color: #69D2E7;
    border-style: solid;
}

article.complexBorder {
    border-width: 15px;
    border-color: #F38630;
    border-style: inset solid;
}

article.shortBorder {
    border: 25px #FA6900 dotted;
    background-color: #E0E4CC;
}

@font-face {
    font-family: Caveat;
    src: url('H:\HTML&JSms\fonts\mod3_caveat.ttf') format('truetype');
}

@font-face {
    font-family: Chonburi;
    src: url('H:\HTML&JSms\fonts\mod3_chonburi.ttf') format('truetype');
}

@font-face {
    font-family: Itim;
    src: url('H:\HTML&JSms\fonts\mod3_itim.ttf') format('truetype');
}

canvas {
    border-style: solid;
    border-width: thick;
    border-color: #FCA90F;
    background-color: #C1D6CD;
}